@model BlogApplication.Models.Posts.PostCreateRequest
@{
    ViewData["Title"] = "Создание поста";
}

<div class="card">
    <div class="card-header">
        Создание поста
    </div>
    <div class="card-body">
        <form asp-controller="Post" asp-action="Create" asp-antiforgery="true">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Название</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Тестовый пост">
                <span style="color: red" asp-validation-for="Title"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="Hidden">
                <label class="form-check-label" asp-for="Hidden">
                    Скрытый пост?
                </label>
            </div>
            <div class="mb-3">
                <label asp-for="Tags" class="form-label">Введите тэги через запятую</label>
                <input type="text" class="form-control" asp-for="Tags" placeholder="Природа, бизнес">
                <span style="color: red" asp-validation-for="Tags"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label">Описание</label>
                <textarea class="form-control" asp-for="Content"></textarea>
                <span style="color: red" asp-validation-for="Content"></span>
            </div>

            <button type="submit" class="btn btn-primary">Создать пост</button>
        </form>
    </div>
</div>